body {
    background: white;
    font: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.background {
  fill: none;
  pointer-events: all;
}

/*#states {
  fill: red;
}*/

.states .state-path {
    cursor: pointer;
    fill: white;
}

/*.states .state-path:hover {
    fill: orange !important;
}*/

.states .active {
  fill: orange;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px;
  background: steelblue;
  color: white;
  border: 0px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #888;
  pointer-events: none;
  top: 0;
  left: 0;
    opacity:1;
}

label {
    float: left;
    clear: both;
    cursor: pointer;
    font-weight:normal;
}

.map, .mapfilters {
    float: left;
    position: relative;
}

.map {
    margin: 10px;
  background: lightseagreen;
  color: white;
  border: 1px grey;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #AAA;
}

#timeline_container {
    position:relative;
    height: 50px;
    padding: 20px 0;
}

#timeline {
    width: 80%;
    height: 10px;
    margin-left: 10%;
    background: steelblue;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #888;
}


#selected_container {
    position:relative;
    position:fixed;
    left:0px;
    bottom:0px;
    opacity:0;
    z-index:1040;
}

.card {
    padding: 5px;
    background: steelblue;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #888;
    color: white;
    font-size:0.8em;    
    float:left;
    margin:20px;
}

#selected_container p {
    margin: 0;
}

#selected_container p.pointer {
    cursor: pointer;
}

#selected_container .card ul {
    margin-bottom: 0;
    padding-left: 10px;
    list-style: none;
}
#selected_container .card ul li span {
    float:right;
}
#selected_container .card ul li span.spacer {
    width: 30px;
}

#compare_container {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1041;
}

#compare_container .card {
    background: white;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}